<div class="container">

<h1>DFS</h1>

<div class="pure-g">
	   <div class="pure-u-1-1">
	    	<h2>Bankroll Amount</h2>

			<p>$<%= @bankroll.bankroll %></p>
			<p><%= session[:bankroll] %></p>
	   </div>
</div>

<div class="pure-g">
	<div class="pure-u-1-1">
	<h2>With 23% Payout</h2>
	<p>$<%= @bankroll.league_payout(23) %></p>
	</div>
</div>





