<div class="container">

<h1>DFS</h1>

<div class="pure-g">
	   <div class="pure-u-1-1">
	    	<h2>Bankroll Amount</h2>

			<p>$<%= @bankroll.bankroll %></p>
	   </div>
</div>

<div class="pure-g">
	<div class="pure-u-1-1">
	<% form_tag searches_path do %>
  	<label for="lookup">Lookup</label>
  	<%= text_field_tag :lookup %>
 	<%= submit_tag "Submit" %>
	<% end %>
	</div>
</div>





