<h1>Tight Ends</h1>
<h2>Optimal Cash Plays</h2>
	<div class='optimal'>
		<% @tight_ends.optimal.each do |te| %>
			<%= "$#{te[:salary]} - #{te[:name]}\t(#{te[:avg_proj].to_f.round(1)} pts)" %><br>
		<% end %>
	</div>

	<div class="pure-g">
	    <div class="pure-u-1-2">
	    	<h2>Top 5 Projected TE's</h2>
			<% @tight_ends.top_projected.each do |te| %>
				<%= "$#{te[:salary]} - #{te[:name]}\t(#{te[:avg_proj].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	    <div class="pure-u-1-2">
	    	<h2>Top Value TE's</h2>
			<% @tight_ends.top_value.each do |te| %>
				<%= "$#{te[:salary]} - #{te[:name]}\t(#{te[:avg_proj].to_f.round(1)} pts)" %><br>
			<% end %>
	    </div>
	</div>