<h1>Best Value</h1>

<div class='pure-g'>
	 <div class="pure-u-1-4">
	   	<h2>Quarterbacks</h2>
		<% @quarterbacks.top_value.each do |qb| %>
			<%= "#{qb[:name]}\t(#{qb[:avg_proj].to_f.round(1)} pts)" %><br>
		<% end %>
	 </div>
	 <div class="pure-u-1-4">
	   	<h2>Running Backs</h2>
		<% @running_backs.top_value.each do |qb| %>
			<%= "#{qb[:name]}\t(#{qb[:avg_proj].to_f.round(1)} pts)" %><br>
		<% end %>
	 </div>
	 <div class="pure-u-1-4">
	   	<h2>Wide Receivers</h2>
		<% @wide_receivers.top_value.each do |qb| %>
			<%= "#{qb[:name]}\t(#{qb[:avg_proj].to_f.round(1)} pts)" %><br>
		<% end %>
	 </div>
	 <div class="pure-u-1-4">
	   	<h2>Tight Ends</h2>
		<% @tight_ends.top_value.each do |qb| %>
			<%= "#{qb[:name]}\t(#{qb[:avg_proj].to_f.round(1)} pts)" %><br>
		<% end %>
	 </div>
</div>